.letterIcon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}
@media screen and (max-width: 850px) {
    .aboutSection {
        flex-direction: column;
        padding: 2rem;
    }
}
@media screen and (min-width: 850px) {
    .aboutSection_02 {
        width: 40%;
    }
}
